 <div class="topnav">
  <a> <input class="fname" type="fname" id="FirstName" onkeyup="myFWunction()" placeholder="First Name" title="First Name"></a>
  <a> <input class="lname" type="fname" id="FirstName" onkeyup="myFWunction()" placeholder="Last Name" title="Last Name"> </a>
  <a> <input class="participation" type="fname" id="FirstName" onkeyup="myFWunction()" placeholder="Participation" title="Participation"> </a>
  <a> <button class="btn info">Send2</button></a>
</div> 

